body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #3f51b5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
